$color-text-dark-primary: rgba(0, 0, 0, 0.87);
$color-text-dark-secondary: rgba(0, 0, 0, 0.54);
$color-text-dark-hint: rgba(0, 0, 0, 0.38);
$color-text-light-primary: #fff;
$color-text-light-secondary: rgba(255, 255, 255, 0.7);
$color-text-light-hint: rgba(255, 255, 255, 0.5);

$font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$width-gutter: 24px;
$width-screen-extra-small-maximum: 767px;
$width-screen-small-minimum: $width-screen-extra-small-maximum + 1;
