<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.github.url }}/images/logo.jpg" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{{ site.github.url }}/images/logo.jpg" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
  <link rel="alternate" type="application/rss+xml" href="{{ site.github.url }}/feed.xml" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelementplayer.min.css">
</head>
