.feature {
  margin-bottom: 3rem;

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding-top: 50%;
  }
}
