@font-face {
  font-family: mplus-light-latin;
  src: url("https://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-2p-light-sub.eot");
  src: url("https://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-2p-light-sub.eot?#iefix") format("embedded-opentype"),
       url("https://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-2p-light-sub.woff") format("woff"),
       url("https://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-2p-light-sub.ttf") format("truetype");
}

@font-face {
  font-family: mplus-light-japanese;
  src: url("https://mplus-fonts.osdn.jp/webfonts/general-j/mplus-2-light-sub.eot");
  src: url("https://mplus-fonts.osdn.jp/webfonts/general-j/mplus-2-light-sub.eot?#iefix") format("embedded-opentype"),
       url("https://mplus-fonts.osdn.jp/webfonts/general-j/mplus-2-light-sub.woff") format("woff"),
       url("https://mplus-fonts.osdn.jp/webfonts/general-j/mplus-2-light-sub.ttf") format("truetype");
}
