.header {
  background-image: url(../images/lily-banse-348257-unsplash.jpg);
  background-size: cover;
  background-position: center;

  &-description {
    color: $color-text-light-secondary;
    font-size: 0.7rem;
    width: 30%;
  }

  &-heading {
    color: $color-text-light-primary;
    text-shadow: 0 1px 5px black;
    font-size: 2.5rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 190px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .header {

    &-overlay {
      position: relative;
    }
    &-description {
      position: absolute;
      bottom: 16px;
      width: calc(100% - 32px);
    }
  }
}