.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;

  &-description {
    color: $color-text-light-secondary;
    font-size: 0.9rem;
  }

  &-heading {
    color: $color-text-light-primary;
    text-shadow: 0 1px 5px black;
    font-size: 2.5rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding-bottom: 96px;
    padding-top: 96px;
  }
}
