.header {
  background-image: url(../images/lily-banse-348257-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;

  &-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
    &-credit {
      color: rgba(255,255,255,0.15);
      font-size: 10px;
      letter-spacing: 0.04em;
      position: absolute;
      bottom: 10px;
      right: 10px;
      &:hover {
        color: rgba(255,255,255,0.4);
      }
    }
  }

  &-wrap {
    width: calc(100% - 40px);
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }

  &-heading {
    width: 100%;
    padding-top: 40px;
    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &-description {
    color: $color-text-light-secondary;
    font-size: 0.7rem;
    text-align: justify;
    width: 100%;
    text-shadow: 0 1px 5px black;
    margin-top: 24px;
    font-weight: 600;
  }
}