.list-group-element {
  color: $color-text-dark-primary;
  display: block;
  font-size: 0.9rem;
  line-height: 1.7;
  position: relative;

  &-heading {
    color: #000;
    font-size: 140%;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding: 10px;
    a {
        display: block;
        &,
        &:active,
        &:focus,
        &:visited {
          color: #000;
          text-decoration: none;
        }
        &:hover {
          background: #488dd8;
          color: #fff;
        }
    }
  }
  &-footer-wrapper {
    padding: 10px;
    background: #faf9f5;
  }

  &-images {
    margin-top: 8px;

    &-element {
      border-radius: 50%;

      & + & {
        margin-left: 4px;
      }
    }
  }
}
